body {
    background-color: #f0f0f0; /* Color neutro para el fondo del cuerpo */
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

#container {
    width: 100%;
    max-width: 414px; /* Ancho común de móviles */
    height: 926px;
    margin: 0 auto;
    position: relative;
    background-color: #00A8A8; /* Fondo azul para el contenido */
}

#imagenPrincipal {
    position: absolute;
    top: 8px;
    left: 8px;
    text-align: left;
    width: calc(100% - 16px);
    height: 200px;
    padding: 20px;
    background-image: url('.image/baja-california-1.png'); /* Ruta de la imagen */
    background-size: cover;
    background-position: center;
    color: white;
    z-index: 1;
}

#imagenPrincipal h3, #imagenPrincipal h1 {
    margin: 0;
    position: relative;
    z-index: 2; /* Asegurarse de que el texto esté por encima de la imagen */
}

.center-block {
    display: flex;
    height: 200px;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 220px; /* Ajustar para evitar superposición */
    width: calc(100% - 16px); /* Ajustar ancho para márgenes */
    left: 8px;
    z-index: 1;
}

.welcome-message {
    width: 50%;
    text-align: left;
    padding-left: 10px;
}

.welcome-message p {
    font-size: 18px;
    margin: 0;
    color: white; /* Color del texto de bienvenida */
}

.action-buttons {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-buttons button {
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: Verdana, sans-serif;
}

.login-button {
    background-color: white; /* Color de fondo del botón Iniciar Sesión */
    color: #8A00A8; /* Color del texto del botón Iniciar Sesión */
}

.settings-button {
    background-color: #FFA800; /* Color de fondo del botón Ajustes */
    color: white; /* Color del texto del botón Ajustes */
    margin-bottom: 0;
}
